.header-container {
  display: flex;
  align-items: center;
  width: 100%;

  position: relative;
  overflow: hidden;
  height: 100dvh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  background-position: 100% 100%;
  background-attachment: fixed !important;
}
.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.3;
}
.clouds :nth-child(1) {
  animation: 35s cloud-loop infinite linear;
}
.clouds :nth-child(2) {
  animation: 40s cloud-loop infinite linear;
}
.clouds :nth-child(3) {
  animation: 37s cloud3-loop infinite linear;
}
.cloud {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 500px;
  z-index: 3;
  animation-direction: reverse !important;
}
@keyframes cloud-loop {
  100% {
    background-position: 1000px 0;
  }
}
@keyframes cloud3-loop {
  100% {
    background-position: 1579px 0;
  }
}

h1 {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 0 10px 0;
  line-height: 70px;
  font-size: 63px;
  font-weight: 700;
  line-height: 70px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  text-shadow: 0 7.36px 5.896px #262626, 0 1px 1px #fff;
}
p {
  position: relative;
  z-index: 1;
  margin-left: 50px;
  line-height: 70px;
  font-size: 27px;
  line-height: 44px;
  padding: 1px 100px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  font-family: normal normal normal 40px/1.4em "Open Sans Condensed", sans-serif !important;
}
.header-footer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10% 15px 10%;
  background-color: #0900248a;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.index-card {
  padding: 20px 0;
}
.index-card img {
  width: 64px;
  height: 64px;
}
.index-card span {
  color: #ffffff !important;
  font-size: 35px;
  font-weight: 500;
}
.index-card div {
  color: #ffffff !important;
  font-size: 20px;
}

.KSA-logo img {
  width: 210px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.powered-by img {
  width: 255px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contribute-button {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .contribute-button {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1536) {
    h1 {
      width: 100%;
      text-align: center;
    }
  }
}
.btn {
  transition: background-color 0.1s ease-in-out, border-radius 0.1s ease-in-out;
  width: 241px;
  height: 66px;
  border-radius: 30px;
  font-size: 20px;
  color: #a59073;
  border: 2px solid rgb(139, 103, 85);
}
.btn:hover {
  border-radius: 20px !important;
  background-color: white !important;
}
.my-con {
  margin-top: 107px !important;
}
