<div class="header-container" [style.backgroundImage]="'url(../assets/images/blue-zone/bg.webp)'">

  <div class="container my-con">
    <h1 data-aos="fade-right" data-aos-duration="1800">
      Blue Zone
    </h1>
    <p data-aos="fade-right" data-aos-duration="1800">
      The registration for entry to Blue Zone is restricted to parties to the Convention and accredited organizations
      that will receive an official invitation to attend the conference. Further details about the Blue Zone are
      provided
    </p>
    <div class="container ">
      <p data-aos="fade-right" data-aos-duration="1800">
       <a href="https://www.unccd.int/cop16/registration" target="_blank">
        <button  type="button" class="btn btn-light">
          Register
          <svg style="width: 24px; height: 21px; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 60 60">
            <path fill="#A59073 "
              d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z">
            </path>
          </svg>
        </button>
       </a>

      </p>
    </div>
  </div>

</div>
<app-blue-plan></app-blue-plan>
