<section class="p-md-5 py-5" style="text-align: right;">
  <div class="container">
    <div class="Register-Text container">
        <div   class="my col-md-12">
          <h1>About COP16</h1>
      <p class="my-p">
        UNCCD COP16 will unite leaders from governments, the private sector, civil society, and global stakeholders to accelerate progress in sustainable land management. We'll explore the vital connections between land and sustainability during high-level sessions, including a Heads of States Summit and interactive dialogues.
      </p>
        </div>
        <div   class="my col-md-12">
          <h1>Legacy of COP15          </h1>
      <p class="my-p">
        UNCCD COP15 adopted 38 Decisions, including on tenure, migration and gender, that highlight the role of land sustainability in addressing multiple crises through a united global pledge to boost drought resilience and invest in land restoration for future prosperity

      </p>
      <button type="button" class="my-btn btn btn-light">
        Read More
        <svg style="width: 13px; height: 18px; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
          <path fill="#000000 " d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
        </svg>
      </button>
        </div>
         <div style="clear: both;">
         </div>
         <div   class="my col-md-12">
          <h1>Legacy of COP15          </h1>
      <p class="my-p">
        UNCCD COP15 adopted 38 Decisions, including on tenure, migration and gender, that highlight the role of land sustainability in addressing multiple crises through a united global pledge to boost drought resilience and invest in land restoration for future prosperity

      </p>
      <button type="button" class="my-btn btn btn-light">
        Read More
        <svg style="width: 13px; height: 18px; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
          <path fill="#000000 " d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
        </svg>
      </button>
        </div>
    </div>
  </div>
</section>
